body {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 10%;
  padding-bottom: 10%;
  background: url("background-pic.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  text-align: center;
}

h1 {
  color: #1D4E5E;
}

p {
  position: absolute;
  left: 50%;
  top: 7%;
  font-size: 200%;
  transform: translate(-50%, -50%);
}

#wrongo {
  color: #C70000;
  top: 3%;
}

#righto {
  color: #1CA803;
  top: 3%;
}

button {
  margin: 5%;
}

.container-fluid{
  background-color: rgba(55,240,227,0.8);
  padding: 3%;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  position: relative;
}

.off{
  display: none;
}

.on{
  display: inline;
}

#guess-counter {
  margin: 5%;
}

.navbar {
  background-color: rgb(55,240,227);
  text-color: #1D4E5E;
}

.site-info{
  position: absolute;
  left: 5%;
  top: 25%; 
}

.MBMBAM{
  position: absolute;
  right: 5%;
  top: 25%;
}
